<h4 class="light-blue-text">Upload A New Photo</h4>

<form class="col l12" action="/photos" method="post">
  <div class="input-field col l12">
    <input type="text" name="photo" id="name_field" required>
    <label for="name-field" class="light-blue-text">Photo URL</label>
  </div>
  <div class="input-field col l12">
    <input type="text" name="title" id="title_field" required>
    <label for="title_field" class="light-blue-text"> Title</label>
  </div>
  <div class="input-field col l12">
    <input type="text" name="description" id="text_field" required>
    <label for="text_field" class="light-blue-text">Description</label>
  </div>
  <div class="input-field col l12">
    <button class="light-blue btn">Create New Photo</button>
  </div>
</form>
</div>
