.img-prof-pic{
  border-radius: 50%;
  width: 169px;
  height: 169px;
  border: 1px solid red;
}
html {
    position: relative;
    min-height: 100%;
}
footer {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    padding-top: 10px;
}
.celebs {
  align-items: center;
  display: flex;
  justify-content: center;
}

#home-prof-pic {
  /* border: 3px solid red; */
  border-radius: 50%;
  width: 169px;
  height: 169px;
}

/* HOME PAGE */

.main-page {
  display: flex;
  justify-content: center;

}

.home-photo {
  /* border: 3px solid red; */
  width: 100%;
  height: 100%;
  display:block;
  margin:auto;

}

.home-login {
  /* border: 3px solid red; */
  width: 500px;
  height: 500px;
}


 .instagram-home-photo {
   max-width:100%;
   max-height:100%;
   align-items: center;
}

.login-img {
  max-width:40%;
  max-height:70%;
}


/* Footer */
.page-footer {
  width: 100%;
}

footer {
  max-width: 100%;
}

.container {
  text-align: center;
  padding: 30px;
}

.link-hover {
  cursor: pointer;
}

/* Photos Feed */
