.img-prof-pic{
  border-radius: 50%;
  width: 169px;
  height: 169px;
  border: 1px solid red;
}
html {
    position: relative;
    min-height: 100%;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
}
.celebs {
  align-items: center;
  display: flex;
  justify-content: center;
}
