<h1>Your Photos</h1>

<% photos.forEach(photo => { %>
     <p> Photo Title: <%= photo.title %>  </p>
     <a href="photos/<%= photo.id %>"> Show Picture and Edit </a>
     <img src="<%= photo.photo %>" >
     <p> Photo Description: <%= photo.description %>  </p>

   <% }) %>
