<h1>Upload A New Photo</h1>

<form class="col l12" action="/photos" method="post">
  <div class="input-field col l12">
    <input type="text" name="photo" id="name_field" required>
    <label for="name-field">Photo URL</label>
  </div>
  <div class="input-field col l12">
    <input type="text" name="title" id="title_field" required>
    <label for="title_field"> Title</label>
  </div>
  <div class="input-field col l12">
    <input type="text" name="description" id="text_field" required>
    <label for="text_field">Description</label>
  </div>
  <div class="input-field col l12">
    <button class="red btn">Create New Photo</button>
  </div>
</form>
</div>
