
  <div class="main-page">
    <div class="home-photo center-align">
      <img class="instagram-home-photo center-align" src="https://i.imgur.com/MTvjd9y.png?1" alt="Instagram phone main page picture">
    </div>
    <div class="valign-wrapper">
      <div class="home-login center-align" >
        <div class="login" >
          <img class="login-img"src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/640px-Instagram_logo.svg.png" alt="img">
        </div>
        <div class="login-para">
          <p>Sign up to see photos and videos from your self.</p>
        </div>

        <div>
          <a href="/register">Sign Up</a>
          <p>OR</p>
        </div>

        <div>
          <a href="/login">Sign In</a>
        </div>
      </div>
    </div>
  </div>
