<footer class="page-footer">
  <div class="container">
    © 2018 Copyright Text

    <a class="grey-text text-lighten-4 right" href="/"> More Links </a>
      <% { %>
        <a class="grey-text centre" href="/login">Login</a>
        <a class="grey-text centre" href="/register">Register</a>
        <a class="grey-text centre" href="/">Home</a>

        <% } %>
        <% if(locals.isLoggedIn) { %>
          <a href="/logout">Logout</a>
        <% } %>
    </div>
  </footer>
