<footer class="page-footer container grey lighten-3 blue-text text-lighten-4">

      <% { %>

        <a class="right" href="/">| © 2018 Copyright |</a>


        <% if(!locals.isLoggedIn) { %>
        <a class="link-hover" href="/">| Home |</a>
        <% } %>

        <% if(!locals.isLoggedIn) { %>
        <a  class="link-hover" href="/login"> Login </a>
        <% } %>

        <% if(!locals.isLoggedIn) { %>
        <a class="link-hover" href="/register"> | Register |</a>
        <% } %>

        <% } %>
        <% if(locals.isLoggedIn) { %>
          <a class="link-hover" href="/logout">| Logout (Signed in as <%= locals.user.username %>) </a>
        <% } %>

        <% if(locals.isLoggedIn) { %>
          <a class="link-hover" href="/photos/new"> | Upload New Photo </a>
        <% } %>

        <% if(locals.isLoggedIn) { %>
          <a class="link-hover" href="/photos">| Photo Feed |</a>
        <% } %>

  </footer>
