<h2>Users</h2>

<div class="row">
  <% users.forEach(user => { %>
    <p> <%= user.username %>  </p>
    <p> <%= user.email %>  </p>
    <img class="img-prof-pic" src="<%=user.photo %>"  >   
  <% }) %>
</div>
